<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <h1>Gestion de Vehiculos</h1>
    <nav>
        <ul>
            <li><a th:href="@{/agregar-vehiculo}">Agregar Vehiculo</a></li>
            <li><a th:href="@{/vehiculos}">Listar Vehiculos</a></li>
        </ul>
    </nav>
</body>

</html>